.container {
    width: 40%;
    height: 50%;
}
  
.chart-container {
    left: 0;
    top: 0;
    bottom: 0;
    width: 70%;
}

.slider-container {
    right: 0;
    top: 0;
    bottom: 0;
    width: 30%;
    height: 70%;
}

#slider-vertical{
    top: 4%;
    height: 50%;
}